body {
  background-color: #ac2037 !important;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
button {
  cursor: pointer;
  border: none;
  padding: 0.5em 1em;
  border-radius: 15px !important;
  font-size: 1.2em !important;
  font-weight: bold !important;
  transition: background-color 0.8s !important;
}
button:active{
  transform: scale(0.98);
}
.btn-primary {
  background-color: #df3954 !important; 
  border-color: #df3954 !important;
  color: white;
  transition: background-color 0.8s !important;
}
.btn-primary:hover{
  background-color: #ac2037 !important; 
  border-color: #ac2037 !important;
}
.btn-primary:active{
  transform: scale(0.98);
}
.btn-secondary {
  background-color: #6c757d;
  color: white;
}
.btn-danger {
  background-color: #dc3545;
  color: white;
}
h1{
  text-align: center;
  color: white !important;
}
h2{
  text-align: center;
}
input:invalid::-webkit-validation-bubble,
input:invalid::-moz-validation-bubble,
input:invalid:focus::-webkit-validation-bubble,
input:invalid:focus::-moz-validation-bubble,
input:blank::-webkit-validation-bubble{
  display: none !important;
  visibility: hidden !important;
}